{
   "env": {
      "TEST": {
         "presets": [
           "env",
           "flow",
           "power-assert"
         ],
         "plugins": [
           "istanbul",
           ["transform-runtime", {
             "helpers": false,
             "polyfill": false,
             "regenerator": true
           }]
         ]
      },
      "BUILD": {
        "presets": [["env", { "targets": { "node": "6" }, "modules": false }]],
        "plugins": ["external-helpers"]
      }
   }
}