{
   "presets": [
      ["env", { "targets": { "node": "6" } }],
      "flow"
   ],
   "env": {
      "test": {
         "presets": ["power-assert"],
         "plugins": ["istanbul"]
      }
   }
}